* {
  scroll-behavior: smooth;
}

.images {
  width: 800px;
  display: flex;
  overflow-x: scroll;
}

.images::-webkit-scrollbar {
  display: none;
}

.images img {
  width: 800px;
  object-fit: contain;
}
